@using Microsoft.AspNetCore.Identity

@model RTS.BusinessLogic.ViewModel.ItemViewModel
@inject SignInManager<RTS.DataAccess.Logic.RTSEntities.Employee> SignInManager



@{
    ViewData["Title"] = "Index";
}
<style>
    /*--thank you pop starts here--*/
    .container {
        max-width: 100%;
    }

    .thank-you-pop {
        width: 100%;
        padding: 20px;
        text-align: center;
    }

        .thank-you-pop img {
            width: 76px;
            height: auto;
            margin: 0 auto;
            display: block;
            margin-bottom: 25px;
        }

        .thank-you-pop h1 {
            font-size: 42px;
            margin-bottom: 25px;
            color: #5C5C5C;
        }

        .thank-you-pop p {
            font-size: 20px;
            margin-bottom: 27px;
            color: #5C5C5C;
        }

        .thank-you-pop h3.cupon-pop {
            font-size: 25px;
            margin-bottom: 40px;
            color: #222;
            display: inline-block;
            text-align: center;
            padding: 10px 20px;
            border: 2px dashed #222;
            clear: both;
            font-weight: normal;
        }

            .thank-you-pop h3.cupon-pop span {
                color: #03A9F4;
            }

        .thank-you-pop a {
            display: inline-block;
            margin: 0 auto;
            padding: 9px 20px;
            color: #fff;
            text-transform: uppercase;
            font-size: 14px;
            background-color: #8BC34A;
            border-radius: 17px;
        }

            .thank-you-pop a i {
                margin-right: 5px;
                color: #fff;
            }

    #ignismyModal .modal-header {
        border: 0px;
    }
    /*--thank you pop ends here--*/

</style>
<div class="row w-100">
    <div class="card h-100 mx-5 col-md-8">
        <div class="p-0">
            @if (ViewBag.message == "Success")
            {
                <div class="alert alert-success">
                    <strong>Success!</strong> Email have been send.
                </div>

            }
            else if (ViewBag.message == "Failed")
            {
                <div class="alert alert-danger">
                    <strong>Error!</strong> Email have not been sended.
                </div>
            }
        </div>
        <div class="card-body">
            <form asp-controller="Home" asp-action="Index">
                <p class="row">
                    <input class="form-control col-7" type="text" name="search" placeholder="Search By Name">
                    <input class="ml-2 btn btn-primary" type="submit" value="Search" />
                </p>
            </form>
            <div class="p-0 mx-0 row">
                <h3 class="card-title ">Items</h3>
            </div>
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>
                                Row
                            </th>
                            <th>
                                Device Type
                            </th>
                            <th>
                                Item Name
                            </th>
                            <th>
                                Description
                            </th>
                            <th>
                                Manufacturer
                            </th>
                            <th>
                                Model
                            </th>
                            <th>
                                SerialNumber
                            </th>
                            <th>
                                Owner
                            </th>
                            <th>
                                PurchaseDate
                            </th>
                            
                            <th>
                                Request
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.items)
                        {

                            <tr>
                                <td></td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DeviceType.Type)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Description)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Manufacturer)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Model)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.SerialNumber)
                                </td>
                               
                                <td>
                                    @Html.DisplayFor(modelItem => item.CurentUser.UserName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PurchaseDate)
                                </td>
                                <td>
                                    <form class="d-inline-flex" asp-action="SendMail" asp-route-id="@item.Id">
                                        <input type="hidden" asp-for="@item.Id" />
                                        <input type="hidden" asp-for="@item.Name" />
                                        <input type="hidden" asp-for="@item.SerialNumber" />
                                        <input type="hidden" asp-for="@item.CurentUserId" />
                                        <input type="hidden" asp-for="@item.DeviceTypeId" />
                                        <input type="hidden" asp-for="@item.Description" />
                                        <input type="hidden" asp-for="@item.Manufacturer" />
                                        <input type="hidden" asp-for="@item.Description" />
                                        <input type="hidden" asp-for="@item.Model" />
                                        <input type="hidden" asp-for="@item.PurchaseDate" />
                                        <input type="hidden" asp-for="@item.IsActive" />
                                        <input type="hidden" asp-for="@item.IsDeleted" />


                                        <input type="submit" value="Request" class="btn btn-primary" />
                                    </form>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>


    @if (SignInManager.IsSignedIn(User))
    {
        <div class="card h-100 col-md-3">
            <div class="card-body">
                @if (ViewBag.message == "returned")
                {
                    <div class="alert alert-success">
                        <strong>Success!</strong> Item return successfuly.
                    </div>

                }

                <div class="p-0 mx-0 row">
                    <h3 class="card-title ">Your Devices</h3>
                </div>
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>
                                    Device Type
                                </th>
                                <th>
                                    Item Name
                                </th>
                                <th>
                                    Return
                                </th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var item in Model.Devices)
                            {

                                <tr>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.DeviceType.Type)

                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Name)

                                    </td>

                                    <td>
                                        <form class="d-inline-flex" asp-action="Return" asp-route-id="@item.Id">
                                            <input type="hidden" asp-for="@item.Id" />
                                            <input type="hidden" asp-for="@item.Name" />
                                            <input type="hidden" asp-for="@item.SerialNumber" />
                                            <input type="hidden" asp-for="@item.CurentUserId" />
                                            <input type="hidden" asp-for="@item.DeviceTypeId" />
                                            <input type="hidden" asp-for="@item.Description" />
                                            <input type="hidden" asp-for="@item.Manufacturer" />
                                            <input type="hidden" asp-for="@item.Description" />
                                            <input type="hidden" asp-for="@item.Model" />
                                            <input type="hidden" asp-for="@item.PurchaseDate" />
                                            <input type="hidden" asp-for="@item.IsActive" />
                                            <input type="hidden" asp-for="@item.IsDeleted" />
                                            <input type="submit" value="Return" class="btn btn-primary " />

                                        </form>
                                    </td>
                                </tr>


                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    }
</div>




<script>

    var table = document.getElementsByTagName('table')[0],
        rows = table.getElementsByTagName('tr'),
        text = 'textContent' in document ? 'textContent' : 'innerText';

    for (var i = 1, len = rows.length; i < len; i++) {
        rows[i].children[0][text] = i + '' + rows[i].children[0][text];
    }
</script>
