@model IEnumerable<RTS.DataAccess.Logic.RTSEntities.Trnasaction>

@{
    ViewData["Title"] = "Index";
}

<div class="content-wrapper">
    <div class="row">
        <div class="col-md-12 grid-margin">
            <div class="d-flex justify-content-between align-items-center">
                <div>
                    <h4 class="font-weight-bold mb-0">Trnasaction</h4>
                </div>
                <form asp-controller="Home" asp-action="Index">
                    <p class="row">
                        <input class="form-control col-7" type="text" name="search" placeholder="Search By Name">
                        <input class="ml-2 btn btn-primary" type="submit" value="Search" />
                    </p>
                </form>
                <form asp-controller="Home" asp-action="Index">
                    <p class="row">
                        <input class="form-control col-4 mr-1" type="datetime" name="startDate" placeholder="Search By Start Date">
                        <input class="form-control col-4" type="datetime" name="endDate" placeholder="Search By End Date">
                        <input class="ml-2 btn btn-primary" type="submit" value="Search" />
                    </p>
                </form>
                <form asp-controller="Home" asp-action="Index" id="filterForm" class="col-md-4">
                    <div class="form-group m-0 ">
                        <select id="Statusfilter" name="filter" class="form-control" asp-items="ViewBag.StatusId">
                            <option value="" selected>Filter by Status</option>
                        </select>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="">
        <div class="card h-100 mx-2">
            <div class="card-body">
                <div class="p-0 mx-0 row">
                    <h3 class="card-title col-md-12">Transections</h3>
                </div>
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>
                                    Row
                                </th>
                                <th>
                                    DeviceType
                                </th>
                                <th>
                                    Item
                                </th>
                                <th>
                                    Recustid User
                                </th>
                                <th>
                                    givin User
                                </th>
                                <th>
                                    Transection Date
                                </th>
                                <th>
                                    Status
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var transaction in Model)
                            {

                            <tr>
                                <td></td>
                                <td>
                                    @Html.DisplayFor(modelItem => transaction.DeviceType.Type)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => transaction.Item.Item.Name)
                                </td>
                                <th>
                                    @Html.DisplayFor(modelItem => transaction.Item.RequestedUser.UserName)

                                </th>
                                <th>
                                    @Html.DisplayFor(modelItem => transaction.Item.ItemOwner)

                                </th>
                                <th>
                                    @Html.DisplayFor(modelItem => transaction.TransectionDate)

                                </th>
                                <th>
                                    @if (transaction.Item.Status.Id == 1)
                                    {
                                        <h4 class=" text-success">@Html.DisplayFor(modelItem => transaction.Item.Status.Status)</h4>
                                    }
                                    else if (transaction.Item.Status.Id == 2)
                                    {
                                        <h4 style="color:yellow">@Html.DisplayFor(modelItem => transaction.Item.Status.Status)</h4>
                                    }
                                    else if (transaction.Item.Status.Id == 3)
                                    {
                                        <h4 class=" text-danger">@Html.DisplayFor(modelItem => transaction.Item.Status.Status)</h4>
                                    }
                                    else
                                    {
                                        <h4 class=" text-primary">@Html.DisplayFor(modelItem => transaction.Item.Status.Status)</h4>
                                    }

                                </th>


                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>

</div>



@section Scripts{
    <script>

        $("#Statusfilter").on('change', function () {
            $("#filterForm").submit();
        });

    </script>
}